{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings%}
    <article class="shadow-lg card">
        <div class="card-group">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'listing_page' listing.id %}">{{ listing.name }}</a>
            <small class="text-muted">{{ listing.date_added|date:"F d, Y" }}</small>
            <p>Price: $ {{ listing.price }}</p>
            <p>Category: {{ listing.category }}</p>
          </div>
        </div>
        <img src="{{ listing.image }}" alt="" class="card-img-bottom">
        <p>Comments:</p>
        {% for comment in comments %}
        {% for objs in comment %}
        {% if objs.listing == listing %}
        
        {{ objs.comment }}
        <br>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </article>
    {% endfor %}

{% endblock %}