{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings: {{ listing.name }}</h2>

    <article class="shadow-lg card">
        <div class="card-group">
          <div class="article-metadata">

            <small class="text-muted">{{ listing.date_added|date:"F d, Y" }}</small>
            <p>Price: $ {{ listing.price }}</p>
            <p>Category: {{ listing.category }}</p>
          </div>
        </div>
        <img src="{{ listing.image }}" alt="" class="card-img-bottom">
        <a class="nav-link" href="{% url 'comment_form' %}">Leave Comment</a>
        <p>Comments:</p>
        {% for comment in comments %}
        {% for objs in comment %}
        {% if objs.listing == listing %}
        
        {{ objs.comment }}
        <br>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </article>


{% endblock %}